* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    text-align:center;
}

.background-image {
    width:100%; 
    opacity: 0.6;
}

#homepage-title {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 9em;
}

#homepage-title h1 {
    font-size: 3em; 
    font-family: cursive;
}



.product-image {
    padding-right: 1em;
    max-width: 270vw;
    max-height: 180vw;
}

.descript {
    padding-left: 1em;
}


#back-button:hover {
    cursor: pointer;
    width: 300px;
}


.nav-header {
    color:#3c3c3c; 
    text-shadow: 0 0 3px #FF0000;
}


img:not(#back-button, .background-image) {
    width: 600;
    height: 300;
}

img:not(#back-button, .background-image):active {
    width: 700;
    height: 350;
}

/*responsive design
*/

.navbar{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color: white;
}

.nav-item {
    display: flex;
    
}
 
.nav-item a{
    text-decoration: none;
    color: white;
}

.puppy-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.header-item {
    align-self: center;
}

.product-container {
    display: grid;
    padding: 1em;
    text-align: left;

}

.product-items {
    display: flex;
    text-align: center;
}

.product-desc {
    padding-top: 1em;
    font-size: larger;
}

table {
    font-size: larger;
}
td {
    padding-left: 1em;
}


.button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
}

